<%if @article.errors.any?%>
  <h3>The following errors prevented the article from saving</h3>

  <% @article.errors.full_messages.each do |msg|%>
    <ul>
      <li><%= msg %></li>
    </ul>
  <%end%>
<%end%>

<%= form_for @article do |f| %>
  <form>
    <div class="form-group">
      <label for="title"><%= f.label :description %></label>
      <%= f.text_field :title %>
    </div>
    <div class="form-group">
      <label for="description"><%= f.label :description %></label>
      <%= f.text_area :description %>
    </div>
    <button type="submit" class="btn btn-default"><%= f.submit %></button>
  </form>
<% end %>
