<div class="container articles_content">
  <h1>All Articles</h1>

  <h3><%= link_to "New Article", new_article_path%></h3>

  <%if @articles%>
  <table class="table table-hover">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    <% @articles.each do |i|%>
      <tr>
        <td class="col-md-3"><%= i.title%></td>
        <td class="col-md-6"><%= i.description%></td>
        <td class="col-md-3">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" style="color: white"><%= link_to "View", article_path(i)%></button>
            <button type="button" class="btn btn-warning"><%= link_to "Edit", edit_article_path(i)%></button>
            <button type="button" class="btn btn-danger"><%= link_to "Delete", article_path(i.id), method: :delete, data: {confirm: "Are you sure you want to delete this article?"}%></button>
          </div>
        </td>
      </tr>
    <%end%>
  </table>
  <%end%>
</div>
